/* Character Sheet */
.sht-container{
    width: auto;
    height: 92vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px black;
}

.sht-modal{
    background-image: url('../assets/sheet/bg_paper.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    left: 44%;
}
.sht-container img{
    position: relative;
    height: 100%;
    width: auto;
    z-index: 2;
}

.sht-stats{
    position: absolute;
    z-index: 3;
    top:55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 360px;
}

.sht-stat{
    text-transform: uppercase;
   padding: 0px 6px 0px 6px ;
}

.container {
    background-image: url('../assets/sheet/stat.png');
    width: 115px;
    height: 141px;
    background-size: cover;
    position: relative;
    font-family: 'diabloL';
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
  }

  .text{
    position: relative;
    top: 30px;
  }

.stat-number{
    position: relative;
    top: 16px;
    font-size: 50px;
}

.plus-minus{
    position: relative;
    display:flex;
    flex-direction: row;
    top: 2px;
    width: 90px;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    left: 2px;
}
.btn-minus{
    position: relative;
    left: 1px;
}
.btn-plus{
    position: relative;
    right: 1px;
}
.plus-minus button:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px white;
}
.plus-minus p{
    text-align: center;
    font-size: 25px;
    position: relative;
    bottom:3px;
}


/* MAIN STATS  */

.main-info {
    position: absolute;
    top:0;
    display: flex;
    height: 48.5%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    font-family: 'diabloL';
  }
  
  .level-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16%;
    font-size: 30px;
    font-family: 'diablo';
  }
  .level-container div{
    background-image: url('../assets/sheet/lvl.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 58px;
    height: 68px;
}

.level-container p{
    position: relative;
    top: 14%;
    text-align: center;
}
  .info-container {
    position: relative;
    top: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 30px;
  }

  .armor-main{
    font-size: 40px;
  }



.tabs{
    position: absolute;
    top:49%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* SKILLS */
.sht-s{
    position: absolute;
    z-index: 3;
    top: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 360px;
    overflow-y: scroll;
}
.s-container {
    border: 2px solid rgb(255, 255, 255, 0.66);
    border-radius: 5px;
    width: 300px;
    height: 40px;
    background-size: cover;
    position: relative;
    font-family: 'diabloL';
    text-transform: uppercase;
  }
  
  .s-content {
    display: grid; 
    padding-top: 7px;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-column-gap: 10px; 
    align-items: center;
    justify-items: center; 
  }
  
  .s-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

/* 3D MODEL */
.model-container{
    position: absolute;
    left:48.5%;
    bottom: 47%;
    width: 250px;
    height: 40%;
    z-index: 11;
}


/* ITEMS */
.i-container{
    position: absolute;
    z-index: 3;
    top: 55%;
    width: 100%;
    height: 385px;
    overflow-y: scroll;
}

.item-cont{
    padding: 20px;
    
}

.weapon-container{
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.66);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.264);
}
.armor-container{
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.66);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.264);
}

.a-text-desc div{
    font-size: 14px;
}



@media screen and (max-width: 500px) {
    .sht-modal{
        left:0;
    }
    .sht-container{
        width: 100%;
        height: 100%;
    }
    .sht-container img{
        width: 90%;
    }
}

