@font-face {
    font-family: 'Black';
    src: local('NotoSansJP-Black'),
    url('../fonts/NotoSansJP-Black.otf')format('truetype');
}

@font-face {
    font-family: 'Bold';
    src: local('NotoSansJP-Bold'),
    url('../fonts/NotoSansJP-Bold.otf')format('truetype');
}

@font-face {
    font-family: 'Light';
    src: local('NotoSansJP-Light'),
    url('../fonts/NotoSansJP-Light.otf')format('truetype');
}
@font-face {
    font-family: 'Medium';
    src: local('NotoSansJP-Medium'),
    url('../fonts/NotoSansJP-Medium.otf')format('truetype');
}
@font-face {
    font-family: 'Regular';
    src: local('NotoSansJP-Regular'),
    url('../fonts/NotoSansJP-Regular.otf')format('truetype');
}
@font-face {
    font-family: 'Thin';
    src: local('NotoSansJP-Thin'),
    url('../fonts/NotoSansJP-Thin.otf')format('truetype');
}

body{
    font-family: 'Regular';
    overflow: hidden;
}

.home-body {
  overflow: hidden;
  background-color: white;
  max-height: 950px;
  display: flex;
}

.img-blue {
  position: absolute;
  z-index: 1;
}

.img-dragon {
  position: relative;
  top: 10px;
  left: 350px;
  height: 70em;
  width: 70em;
  z-index: 12;
}

.img-crow {
  position: relative;
  width: 40em;
  z-index: 10;
}

.info-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  top: 370px;
  left: 600px;
  padding: 40px;
  position: absolute;
  z-index: 20;
}

.info-home p {
  text-align: center;
  font-size: 66px;
  line-height: 80px;
  font-family: 'Bold';
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}

.info-home button {
  font-size: 20px;
  font-family: 'Medium';
  border-radius: 25px;
  color: white;
  background-image: url("../assets/bgText2.png");
  padding: 10px 20px 10px 20px;
}

/* Character Sheet */

.ability-sumary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 140px;
  height: 130px;
}
.mainStats {
  max-width: 200px;
  position: relative;
  left: 30px;
}

.box-ability {
  left: 33px;
  position: absolute;
}

.box-ability svg{
  height: 100px;
}

.ability-name {
  left: 3px;
  text-align: center;
  position: relative;
  color: rgb(73, 73, 73);
  top: 6px;
  font-size: 9px;
  text-transform: uppercase;
  font-family: 'Black';
}
.ability-score {
  left: 3px;
  text-align: center;
  position: relative;
  color: black;
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'Medium';
}
.ability-modifier {
  left: 3px;
  top: 1px;
  text-align: center;
  position: relative;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Medium';
}

.ability-controls button {
  left: 4px;
  position: relative;
  text-align: center;
  border: 2px solid rgb(20, 108, 148);
  border-radius: 24px;
  font-family: 'Medium';
  margin: 0px 10px 0px 10px;
  width: 30px;
  height: 32px;
}

.ability-controls button p {
  position: relative;
  bottom: 1px;
}

.save-character {
  
}

.char-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 340px;
  position: absolute;
  left: 880px;
  top: 159px;
}

.chr-dets-spacing{
  padding: 0px 10px 4px 10px;
}

.p-dropdown{
  width: 110px;
}

.mydrop .p-dropdown-trigger{
  justify-content: end;
}

.mydrop .p-inputtext{
  font-family: 'Regular';
  font-size: 13px;
  overflow: visible;
  padding: .4rem .4rem;
}

.char-details input {
  position: relative;
  margin: 0px 10px 4px 10px;
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
  border: 1px solid rgba(70, 70, 70, 0.4);
  width: 110px;
}

.char-details p {
  position: relative;
}

.char-details-container {
  top: -15px;
  right: 14px;
  position: absolute;
}

.char-details-container svg {
  height: 270px;
}

/* 3D MODEL */

.tabs{
  position: relative;
  z-index: 10;
}

.char-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.char-display input {
  position: relative;
  top: 30px;
  left: 1400px;
  border: 2px solid rgb(20, 108, 148);
  text-align: center;
  font-family: 'Medium';
  border-radius: 4px;
}

.char-model-container {
  position: absolute;
  left: 1200px;
  top: 80px;
}

.char-model-container svg {
  width: 623px;
  height: 660px;
  z-index: 5;
}

.char-model {
  position: relative;
  height: 660px;
  width: 623px;
  bottom: 660px;
  z-index: 10;
}

.foot {
  position: relative;
  top: 70px;
  background-color: black;
  height: 150px;
  width: 100%;
}

/* SKILLS */

.skills {
  position: absolute;
  top: 98px;
  left: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.skills-titles {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  text-transform: uppercase;
  font-family: 'Bold';
  font-size: 11px;
  color: rgba(4, 16, 29, 0.7);
  z-index: 10;
  padding-bottom: 10px;
}

.skills-titles-left {
  display: flex;
  flex-direction: row;
}

.skills-titles-prof {
  position: relative;
  right: 35px;
}

.skills-titles-mod {
  position: relative;
  right: 28px;
}

.skills-titles-right {
  position: relative;
}

.skill {
  width: 260px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted rgba(4, 16, 29, 0.1);
  z-index: 10;
  left: -10px;
  padding: 5px 0px 5px 0px;
}

.skill-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-mod {
  width: 50px;
  padding-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Bold';
  text-transform: uppercase;
  color: rgba(4, 16, 29, 0.7);
}

.skill-name {
  width: 150px;
  padding: 0px 0px 0px 20px;
}


.skill-container{
  position: absolute;
  top: -14px;
  left: 8px;
  z-index: 1;
}

.skill-container svg{
  height: 765px;
}

.skill-main-title{
  position: relative;
  z-index: 10;
  left: -25px;
  padding-top: 40px;
  font-family: 'Black';
  text-transform: uppercase;
  text-align: center;
  color: rgb(17, 76, 104);
}

.checkbox:checked{
  background-color: rgb(17, 76, 104);
  background-image: none;
}

/* SAVING THROWS */

.saving{
  width: 300px;
  position: absolute;
  top: 375px;
  left: 906px;
}

.saving-container{
  position: absolute;
  z-index: 1;
}

.saving-container svg{
  height: 200px;
  width: 280px;
}

.throw{
  position: relative;
  z-index: 10;
  padding: 5px 10px 5px 10px;
}

.thow-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.throw p{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Bold';
  border-top:2px solid rgb(16, 88, 121);
  border-bottom:2px solid rgb(16, 88, 121);
  border-left:2px solid rgb(16, 88, 121);
  border-radius: 8px 0px 0px 8px;
  width: 70px;
  padding: 5px 0px 5px 0px;
  color: rgb(12, 65, 90);
}

.throw-stat{
  font-family: 'Bold';
  border:2px solid rgb(16, 88, 121);
  border-radius: 8px;
  padding: 10px 8px 10px 8px;
  color: rgb(12, 65, 90);
}

.saving-throws{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 200px;
}

/* SENSES */

.senses{
  width: 300px;
  position: absolute;
  top: 604px;
  left: 906px;
}

.senses-container{
  position: absolute;
  z-index: 1;
}

.senses-container svg{
  height: 200px;
  width: 280px;
}

/* ITEMS */

.items-container{
  position: absolute;
  top:380px;
  left:550px;
  z-index: 1;
}

.items-container svg{
  width: 280px;
  height: 340px;
}

.features{
  position: absolute;
  left: 500px;
  top:400px;
  max-width: 250px;
  z-index: 10;
}

/* HEALTH */

.health{
  position: absolute;
  top:84px;
  left:530px;
  z-index: 1;
}

.health-container svg{
  width: 320px;
  height: 90px;
}

.health-main{
  position: relative;
  bottom:80px;
  left: 20px;
}

.health-title{
  font-family: 'Bold';
  font-size: 10px;
  text-transform: uppercase;
}

.health-score{
  position: relative;
  left: -23px;
  bottom: 20px;
  font-family: 'Black';
}

.health-score p{
  padding: 10px 0px 10px 0px;
  font-size: 40px;
  text-align: center;
}

/* INITIATIVE */

.initiative{
  z-index: 1;
  position: absolute;
  top: 317px;
  left: 580px;
}

.initiative svg{
  max-width: 70px;
  max-height: 50px;
}

.initiative-title{
  position: relative;
  top:-65px;
  z-index: 10;
  text-transform: uppercase;
  font-family: 'Bold';
  font-size: 10px;
  left: 9px;
}

.initiative-score{
  z-index: 10;
  position: relative;
  top: -58px;
  left: 22px;
}

.initiative-score input{
  z-index: 10;
  text-align: center;
  max-width: 40px;
  border-radius: 10px;
  font-family: 'Black';
  font-size: 20px;
}

/* INSPIRATION */

.inspiration-container{
  z-index: 1;
  position: absolute;
  top: 310px;
  left: 730px;
}

.inspiration{
  text-transform: uppercase;
  position: absolute;
  top: 299px;
  left: 733px;
  z-index: 10;
  font-family: 'Bold';
  text-align: center;
}

.inspiration-title{
  position: relative;
  top: -3px;
  font-family: 'Bold';
  font-size: 10px;
}

.inspiration-score{
  font-family: 'Black';
  font-size: 30px;
}

/* PROFICIENCY */

.prof-container{
  z-index: 1;
  position: absolute;
  top: 190px;
  left: 530px;
}

.prof-container svg{
  width: 100px;
  height: 100px;
}

.prof-bonus{
  position:absolute;
  top: 194px;
  left: 550px;
  z-index: 10;
  text-align: center;
  
}

.prof-title{
  max-width: 80px;
  text-transform: uppercase;
  font-family: 'Bold';
  font-size: 8px;
}

.prof-score{
  position: relative;
  top: -4px;
  font-family: 'Black';
  font-size: 40px;
}

/* SPEED */

.speed-container{
  z-index: 1;
  position: absolute;
  top: 190px;
  left: 753px;
}
.speed-container svg{
  
  width: 100px;
}
/* ARMOR */

.armor{
  z-index: 1;
  position: absolute;
  top: 190px;
  left: 650px;
}

.armor-score input{
  position: relative;
  bottom:130px;
  left: 20px;
  font-family: 'Black';
  font-size: 30px;
  max-width: 50px;
  border-radius: 10px;
  z-index: 10;
  text-align: center;
}

/* DEFENSES */

.defenses-container{
  z-index: 1;
  position: absolute;
  top: 755px;
  left: 480px;
}

.defenses-container svg{
  width: 410px;
}

/* NAVBAR */

.navbar button{
  color: rgb(192, 192, 192);
}

.sanctum{
  color: white;
}

/* Character List */

.characters-btn{
  border: 2px solid rgb(16, 88, 121);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  margin: 10px;
}
