.login-container{
    background-image: url('https://imgur.com/PEwhsfn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100vh;
    max-height: 950px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'diabloL';
}
.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 80px;
    text-transform: uppercase;
}

.login-component{
    position: relative;
    bottom:100px;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 10px 20px 10px 20px; 
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.7);
    
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 20px;
}
.login-form input{
    padding-left: 8px;
    font-family: 'Regular';
    color: rgb(25, 23, 23);
}
.login-form label{
    padding: 10px;
}
.btn-log{
    padding: 20px;
}
.login-Btn{
    background-color: #9c640c;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #6b3f00;
}
.login-Btn:hover{
    background-color: #c68627;
  box-shadow: 0px 2px 0px #864e00;
}
.login-Btn:active {
    background-color: #6b3f00;
    box-shadow: none;
  }