@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width:0px ;
}
::-webkit-scrollbar-track{
  background: black;
}
::-webkit-scrollbar-thumb{
  background: aliceblue;
  border-radius: 25px;
}


